<a href="https://colab.research.google.com/github/Sicofina/Sico/blob/main/07_c_Pandas_Practica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Cargar la lista como un DataFrame
##data = [['Florencia','Diseñadora gráfica',27],['Carolina','Médica',26],['Florencia','Periodista',28],['Josefina','Contadora',28],['Florencia','Diseñadora gráfica',27]]

In [ ]:
import pandas as pd

data = [['Florencia','Diseñadora gráfica',27],
        ['Carolina','Médica',26],
        ['Florencia','Periodista',28],
        ['Josefina','Contadora',28],
        ['Florencia','Diseñadora gráfica',27]]

df = pd.DataFrame(data, columns=['Nombre', 'Ocupacion', 'Edad'])
print(df)

      Nombre           Ocupacion  Edad
0  Florencia  Diseñadora gráfica    27
1   Carolina              Médica    26
2  Florencia          Periodista    28
3   Josefina           Contadora    28
4  Florencia  Diseñadora gráfica    27

##Imprimir las columnas nombre y ocupación

In [ ]:
print(df[['Nombre', 'Ocupacion']])

      Nombre           Ocupacion
0  Florencia  Diseñadora gráfica
1   Carolina              Médica
2  Florencia          Periodista
3   Josefina           Contadora
4  Florencia  Diseñadora gráfica

##Imprimir las primeras tres filas

In [ ]:
print(df.head(3))

      Nombre           Ocupacion  Edad  Altura  Edad_Cuadrado
0  Florencia  Diseñadora gráfica    27    1.55            729
1   Carolina              Médica    26    1.60            676
2  Florencia          Periodista    28    1.60            784

##Escribir el DataFrame en un CSV con diferente separador (no entendí)

In [ ]:
# a. Con index y header
df.to_csv('/tmp/dataframe_con_index_header.csv', sep='\t', index=True, header=True)

# b. Sin index ni header
df.to_csv('/tmp/dataframe_sin_index_header.csv', sep='\t', index=False, header=False)
#no entendí

##Agregar la lista mi_lista3 como nueva columna "Altura"

In [ ]:
mi_lista3 = [1.55, 1.60, 1.60, 1.70, 1.55]
df['Altura'] = mi_lista3
print(df)

      Nombre           Ocupacion  Edad  Altura  Edad_Cuadrado
0  Florencia  Diseñadora gráfica    27    1.55            729
1   Carolina              Médica    26    1.60            676
2  Florencia          Periodista    28    1.60            784
3   Josefina           Contadora    28    1.70            784
4  Florencia  Diseñadora gráfica    27    1.55            729

##Crear una nueva columna con la edad elevada al cuadrado

In [ ]:
df['Edad_Cuadrado'] = df['Edad'] ** 2
print(df)

      Nombre           Ocupacion  Edad  Altura  Edad_Cuadrado
0  Florencia  Diseñadora gráfica    27    1.55            729
1   Carolina              Médica    26    1.60            676
2  Florencia          Periodista    28    1.60            784
3   Josefina           Contadora    28    1.70            784
4  Florencia  Diseñadora gráfica    27    1.55            729

##Verificar si hay duplicados

In [ ]:
# Encontrar duplicados incluyendo todas sus apariciones
duplicados_df = df[df.duplicated(keep=False)].copy()
if not duplicados_df.empty:
  print(f"Cantidad de filas duplicadas: {duplicados_df.shape[0]}")
  print("\nDetalles de las filas duplicadas con sus índices:")
  print(duplicados_df)
else:
    print("No hay filas duplicadas en el DataFrame.")

Cantidad de filas duplicadas: 2

Detalles de las filas duplicadas con sus índices:
      Nombre           Ocupacion  Edad  Altura  Edad_Cuadrado
0  Florencia  Diseñadora gráfica    27    1.55            729
4  Florencia  Diseñadora gráfica    27    1.55            729

##Borrar duplicados

In [ ]:
df = df.drop_duplicates()
print(df)

      Nombre           Ocupacion  Edad  Altura  Edad_Cuadrado
0  Florencia  Diseñadora gráfica    27    1.55            729
1   Carolina              Médica    26    1.60            676
2  Florencia          Periodista    28    1.60            784
3   Josefina           Contadora    28    1.70            784

##Filtrar las filas del DataFrame para ver la persona que mide 1.60

In [ ]:
personas_160 = df[df['Altura'] == 1.60]
print(personas_160)
##tener en cuenta que crea otra df, por eso no coinciden los lugares en las filas

      Nombre   Ocupacion  Edad  Altura  Edad_Cuadrado
1   Carolina      Médica    26     1.6            676
2  Florencia  Periodista    28     1.6            784

##Agregar nuevas filas al DataFrame

In [ ]:
nuevas_filas = [
    ['Josefina', 'Contadora', 28, 1.60],
    ['Florencia', 'Diseñadora gráfica', 27, 1.55],
    ['Valentina', 'Ingeniera de software', 30, 1.60],
    ['Luisa', 'Arquitecta', 32, 1.68],
    ['Andrea', 'Psicóloga', 29, 1.63],
    ['María', 'Profesora de música', 35, 1.57],
    ['Lucía', 'Bióloga marina', 31, 1.72],
    ['Laura', 'Abogada', 30, 1.68],
    ['Daniela', 'Piloto', 34, 1.62],
    ['Alejandra', 'Chef', 27, 1.55],
    ['Patricia', 'Actriz', 25, 1.58],
    ['Gabriela', 'Ingeniera civil', 29, 1.70],
    ['Sofía', 'Diseñadora de moda', 28, 1.65],
    ['Camila', 'Médica veterinaria', 26, 1.60],
    ['Isabella', 'Economista', 31, 1.68],
    ['Ana', 'Periodista deportiva', 29, 1.63],
    ['Marcela', 'Fotógrafa', 35, 1.57],
    ['Natalia', 'Ingeniera eléctrica', 31, 1.72],
    ['Paula', 'Artista plástica', 30, 1.68],
    ['Carla', 'Empresaria', 34, 1.62],
    ['Catalina', 'Diseñadora de interiores', 28, 1.60],
    ['Verónica', 'Médica', 32, 1.65],
    ['Rocío', 'Arquitecta', 30, 1.68],
    ['Juliana', 'Psicóloga', 29, 1.63],
    ['Marina', 'Profesora de historia', 35, 1.57],
    ['Valeria', 'Marinera', 31, 1.72],
    ['Luciana', 'Diseñadora gráfica', 30, 1.68],
    ['Mariana', 'Contadora', 34, 1.62],
    ['Fernanda', 'Nutricionista', 28, 1.60],
    ['Pamela', 'Fisioterapeuta', 32, 1.65],
    ['Antonella', 'Modelo', 30, 1.68],
    ['Jimena', 'Bailarina', 29, 1.63],
    ['Gabriela', 'Ingeniera de telecomunicaciones', 35, 1.57],
    ['Julieta', 'Escritora', 31, 1.72],
    ['María José', 'Diseñadora de joyas', 98, 1.68],
    ['Carolina', 'Traductora', 34, 1.62]
]

# Convertir la lista de nuevas filas en un DataFrame
df_nuevas = pd.DataFrame(nuevas_filas, columns=['Nombre', 'Ocupacion', 'Edad', 'Altura'])

# Calcular la columna "Edad_Cuadrado" en las nuevas filas
df_nuevas['Edad_Cuadrado'] = df_nuevas['Edad'] ** 2

# Concatenar las nuevas filas con el DataFrame original
df = pd.concat([df, df_nuevas], ignore_index=True)

# Mostrar el DataFrame actualizado
print(df)

        Nombre                        Ocupacion  Edad  Altura  Edad_Cuadrado
0    Florencia               Diseñadora gráfica    27    1.55            729
1     Carolina                           Médica    26    1.60            676
2    Florencia                       Periodista    28    1.60            784
3     Josefina                        Contadora    28    1.70            784
4     Josefina                        Contadora    28    1.60            784
5    Florencia               Diseñadora gráfica    27    1.55            729
6    Valentina            Ingeniera de software    30    1.60            900
7        Luisa                       Arquitecta    32    1.68           1024
8       Andrea                        Psicóloga    29    1.63            841
9        María              Profesora de música    35    1.57           1225
10       Lucía                   Bióloga marina    31    1.72            961
11       Laura                          Abogada    30    1.68            900
12     Daniela                           Piloto    34    1.62           1156
13   Alejandra                             Chef    27    1.55            729
14    Patricia                           Actriz    25    1.58            625
15    Gabriela                  Ingeniera civil    29    1.70            841
16       Sofía               Diseñadora de moda    28    1.65            784
17      Camila               Médica veterinaria    26    1.60            676
18    Isabella                       Economista    31    1.68            961
19         Ana             Periodista deportiva    29    1.63            841
20     Marcela                        Fotógrafa    35    1.57           1225
21     Natalia              Ingeniera eléctrica    31    1.72            961
22       Paula                 Artista plástica    30    1.68            900
23       Carla                       Empresaria    34    1.62           1156
24    Catalina         Diseñadora de interiores    28    1.60            784
25    Verónica                           Médica    32    1.65           1024
26       Rocío                       Arquitecta    30    1.68            900
27     Juliana                        Psicóloga    29    1.63            841
28      Marina            Profesora de historia    35    1.57           1225
29     Valeria                         Marinera    31    1.72            961
30     Luciana               Diseñadora gráfica    30    1.68            900
31     Mariana                        Contadora    34    1.62           1156
32    Fernanda                    Nutricionista    28    1.60            784
33      Pamela                   Fisioterapeuta    32    1.65           1024
34   Antonella                           Modelo    30    1.68            900
35      Jimena                        Bailarina    29    1.63            841
36    Gabriela  Ingeniera de telecomunicaciones    35    1.57           1225
37     Julieta                        Escritora    31    1.72            961
38  María José              Diseñadora de joyas    98    1.68           9604
39    Carolina                       Traductora    34    1.62           1156

Calcular las frecuencias absolutas de las profesiones

In [ ]:
frecuencias_profesiones = df['Ocupacion'].value_counts()
print(frecuencias_profesiones)

Ocupacion
Diseñadora gráfica                 3
Contadora                          3
Médica                             2
Arquitecta                         2
Psicóloga                          2
Nutricionista                      1
Empresaria                         1
Diseñadora de interiores           1
Profesora de historia              1
Marinera                           1
Modelo                             1
Fisioterapeuta                     1
Ingeniera eléctrica                1
Bailarina                          1
Ingeniera de telecomunicaciones    1
Escritora                          1
Diseñadora de joyas                1
Artista plástica                   1
Economista                         1
Fotógrafa                          1
Periodista deportiva               1
Médica veterinaria                 1
Diseñadora de moda                 1
Ingeniera civil                    1
Actriz                             1
Chef                               1
Piloto                             1
Abogada                            1
Bióloga marina                     1
Profesora de música                1
Ingeniera de software              1
Periodista                         1
Traductora                         1
Name: count, dtype: int64

##Obtener el promedio de edad

In [ ]:
promedio_edad = df['Edad'].mean()
print(f"Promedio de edad: {promedio_edad}")

Promedio de edad: 31.9

##Obtener la edad más grande y el nombre de la mujer que la posee

In [ ]:
edad_maxima = df['Edad'].max()
mujer_mayor = df[df['Edad'] == edad_maxima]['Nombre'].values[0]
print(f"La mujer con la edad más grande es {mujer_mayor} con {edad_maxima} años.")

La mujer con la edad más grande es María José con 98 años.

##Obtener la desviación estándar de la edad

In [ ]:
desviacion_edad = df['Edad'].std()
print(f"Desviación estándar de la edad: {desviacion_edad}")

Desviación estándar de la edad: 11.063453348751462

##Crear una columna "Jubilada" (1 si >60 años, 0 si no)

In [ ]:
df['Jubilada'] = df['Edad'].apply(lambda x: 1 if x > 60 else 0)
print(df)

        Nombre                        Ocupacion  Edad  Altura  Edad_Cuadrado  \
0    Florencia               Diseñadora gráfica    27    1.55            729
1     Carolina                           Médica    26    1.60            676
2    Florencia                       Periodista    28    1.60            784
3     Josefina                        Contadora    28    1.70            784
4     Josefina                        Contadora    28    1.60            784
5    Florencia               Diseñadora gráfica    27    1.55            729
6    Valentina            Ingeniera de software    30    1.60            900
7        Luisa                       Arquitecta    32    1.68           1024
8       Andrea                        Psicóloga    29    1.63            841
9        María              Profesora de música    35    1.57           1225
10       Lucía                   Bióloga marina    31    1.72            961
11       Laura                          Abogada    30    1.68            900
12     Daniela                           Piloto    34    1.62           1156
13   Alejandra                             Chef    27    1.55            729
14    Patricia                           Actriz    25    1.58            625
15    Gabriela                  Ingeniera civil    29    1.70            841
16       Sofía               Diseñadora de moda    28    1.65            784
17      Camila               Médica veterinaria    26    1.60            676
18    Isabella                       Economista    31    1.68            961
19         Ana             Periodista deportiva    29    1.63            841
20     Marcela                        Fotógrafa    35    1.57           1225
21     Natalia              Ingeniera eléctrica    31    1.72            961
22       Paula                 Artista plástica    30    1.68            900
23       Carla                       Empresaria    34    1.62           1156
24    Catalina         Diseñadora de interiores    28    1.60            784
25    Verónica                           Médica    32    1.65           1024
26       Rocío                       Arquitecta    30    1.68            900
27     Juliana                        Psicóloga    29    1.63            841
28      Marina            Profesora de historia    35    1.57           1225
29     Valeria                         Marinera    31    1.72            961
30     Luciana               Diseñadora gráfica    30    1.68            900
31     Mariana                        Contadora    34    1.62           1156
32    Fernanda                    Nutricionista    28    1.60            784
33      Pamela                   Fisioterapeuta    32    1.65           1024
34   Antonella                           Modelo    30    1.68            900
35      Jimena                        Bailarina    29    1.63            841
36    Gabriela  Ingeniera de telecomunicaciones    35    1.57           1225
37     Julieta                        Escritora    31    1.72            961
38  María José              Diseñadora de joyas    98    1.68           9604
39    Carolina                       Traductora    34    1.62           1156

    Jubilada
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
30         0
31         0
32         0
33         0
34         0
35         0
36         0
37         0
38         1
39         0

##Contar la cantidad de jubiladas

In [ ]:
cantidad_jubiladas = df['Jubilada'].sum()
print(f"Cantidad de jubiladas en el dataframe: {cantidad_jubiladas}")

Cantidad de jubiladas en el dataframe: 1